body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f5f5f5;
}

header {
    background: #B5734C;
    color: white;
    padding: 20px;
}

.upload-section, .file-list {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="file"], 
input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #B5734C;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #914F2F;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden; 
    word-break: break-word; 
}

a {
    text-decoration: none;
    color: #B5734C;
    font-weight: bold;
    font-size: 14px; 
    max-width: 90%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

a:hover {
    color: #914F2F;
    text-decoration: underline;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-btn:hover {
    background: darkred;
}
